*{
    font-size: 1rem;
    color: rgb(46, 46, 46);
    
}
form{
    margin-bottom: 3rem;
    color: rgb(78, 78, 78);
}
#out{
    width: 50%;
    min-width: 20rem;
    padding: .5rem 3rem;
    display: flex;
    justify-content: center;
}