*{
    font-size: 1rem;
    color: rgb(44, 44, 44);
    
}
.container{
    width: 80%;
}
h2{
    font-weight: lighter;
}
form{
    font-size: 1rem;
    border-radius: .5rem;
    padding: 3rem 2rem;
    width: 50%;
    max-width: 37rem;
    min-width: 25rem;
    box-shadow: 0 .1rem .8rem -.3rem blue ;
    margin-bottom: 3rem;
    color: rgb(78, 78, 78);
}
form>.input{
    border-color: rgb(112, 112, 112);
    font-size: .9rem;
    margin-bottom:.4rem; 
    width: 90%;
    color: rgb(63, 72, 80);
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#out{
    margin: 1.2rem 0;
    font-size: 2.5rem;
    font-weight: lighter;
    color: rgb(32, 31, 71);
    width: 50%;
    min-width: 20rem;
    padding: .5rem 3rem;
    display: flex;
    justify-content: center;
}