*{
    font-size: 1rem;
    color: rgb(44, 44, 44);
    
}
form{
    font-size: 1.1rem;
    border-radius: .5rem;
    padding: 4rem 3rem;
    width: 50%;
    max-width: 40rem;
    min-width: 37rem;
    box-shadow: 0 .1rem .8rem -.3rem blue ;
    margin-bottom: 3rem;
    color: rgb(78, 78, 78);
}
form>.input{
    font-size: 1rem;
    margin-bottom:.4rem; 
    width: 90%;
    color: rgb(63, 72, 80);
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#out{
    margin: 3rem 0;
    font-size: large;
    font-weight: lighter;
    color: rgb(32, 31, 71);
    width: 50%;
    min-width: 20rem;
    padding: .5rem 3rem;
    display: flex;
    justify-content: center;
}